{% extends "layouts/base.html" %}

{% block title %}
  {{ form.instance.pk|yesno:"Edit,Create" }} Newspaper
{% endblock %}

{% block body_bg %}
  style="background-image: url('{{ ASSETS_ROOT }}/assets/img/bg-newspaper-list.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;"
{% endblock %}

{% block content %}
<section class="py-6 mt-7">
  <div class="container my-auto">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-12 mx-auto">

        <div class="card z-index-0 fadeIn3 fadeInBottom">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3">
              <h4 class="text-white text-center mb-0">
                {{ form.instance.pk|yesno:"Edit,Create" }} Newspaper
              </h4>
            </div>
          </div>

          <div class="card-body">
            <form method="post" role="form" class="text-start">
              {% csrf_token %}

              <!-- Title and Topic -->
              <div class="row g-3">
                <!-- Title -->
                <div class="col-md-8 mt-0 d-flex align-items-end">
                  <div class="input-group input-group-outline">
                    <label for="id_title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" id="id_title" required>
                  </div>
                </div>

                <!-- Topic -->
                <div class="col-md-4 mt-0">
                  <div class="form-group">
                    <label for="id_topic" class="form-label text-xxs">Topic</label>
                    <select name="topic" id="id_topic" class="form-select form-select-sm">
                      {% for topic in topics %}
                        <option value="{{ topic.id }}">{{ topic.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <!-- Content -->
              <div class="mb-4 mt-4">
                <label for="id_content" class="form-label">Content</label>
                <textarea name="content" id="id_content" rows="10"
                          class="form-control border border-secondary border-opacity-25 rounded p-3"
                          placeholder="Write your article here..." required></textarea>
              </div>

              <!-- Co-authors -->
              <div class="mb-4">
                <label class="form-label">Co-authors</label>
                <div class="row">
                  {% for redactor in redactors %}
                    {% if redactor.first_name and redactor.last_name %}
                      <div class="col-md-6">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="redactor" value="{{ redactor.id }}"
                           id="coauthor{{ redactor.id }}"
                           {% if redactor.id == request.user.id %}checked disabled{% endif %}>
                          <label class="form-check-label" for="coauthor{{ redactor.id }}">
                            {{ redactor.first_name }} {{ redactor.last_name }}
                            {% if redactor.id == request.user.id %}(you){% endif %}
                          </label>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}

                <!-- Hidden input to pass the user's username
                 to the form (since the user's checkbox is disabled) -->
                <input type="hidden" name="redactor" value="{{ request.user.id }}">
                </div>
              </div>

              <!-- Submit -->
              <div class="text-end">
                <button type="submit" class="btn bg-gradient-primary">Publish</button>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
