<footer class="footer position-absolute bottom-2 py-2 w-100">
      <div class="container">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-8 mx-auto text-center mt-1">
           <p class="mb-0 copyright text-center text-white">
              &copy; Coded by <a href="https://www.linkedin.com/in/olena-bukhova-525543360/" class="font-weight-bold text-white" target="_blank">Olena Bukhova</a>.
          </p>
          </div>
        </div>
      </div>
    </footer>
